* {
  box-sizing: border-box;
}
.row-default {
  *zoom: 1;
  display: block;
}
.row-default:before,
.row-default:after {
  content: " ";
  display: table;
}
.row-default:after {
  clear: both;
}
.row-table {
  *zoom: 1;
  display: table;
  width: 100%;
}
.row-table:before,
.row-table:after {
  content: " ";
  display: table;
}
.row-table:after {
  clear: both;
}
.row-invalid-display {
  *zoom: 1;
  display: block;
}
.row-invalid-display:before,
.row-invalid-display:after {
  content: " ";
  display: table;
}
.row-invalid-display:after {
  clear: both;
}
.row-table-reset {
  *zoom: 1;
  display: table;
  width: 100%;
}
.row-table-reset:before,
.row-table-reset:after {
  content: " ";
  display: table;
}
.row-table-reset:after {
  clear: both;
}
.row-table-reset .block-child {
  display: block;
  float: left;
  margin-right: 7.422970352062576%;
  width: 314.84594070412516%;
}
.row-table-reset .block-child:last-child {
  margin-right: 0;
}
.no-row {
  display: block;
  float: left;
  margin-right: 7.422970352062576%;
  width: 314.84594070412516%;
}
.no-row:last-child {
  margin-right: 0;
}
