visual-grid = false // Display the base grid
visual-grid-color = #EEE
visual-grid-index = back // Show grid behind content (back) or overlay it over the content (front)
visual-grid-opacity = 0.4
visual-grid-breakpoints = ()
